body{
    background-image: url('../../image/536776.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    opacity: .9;
}


.main{
    width:"100%" ;
    background-color: #eef8ffed;
   

     
    
    }
    .signinform{
        margin-left:"900px";
        width: 40%;
    }
    .login{
  margin-left: 600px;
    
    }
    @media screen and (min-device-width: 360px) and (max-device-width: 765px) { 
        .login{
            margin-left: auto;
            
              
              }
    }
    @media screen and (min-device-width: 768px) and (max-device-width: 1180px) { 
        .login{
            margin-left: 250px;
            
              
              }
    }
    @media screen and (min-device-width: 540px) and (max-device-width: 720px) { 
        .login{
            margin-left: 100px;
            
              
              }
    }
    @media screen and (min-device-width: 280px) and (max-device-width: 655px) { 
        .login{
            margin-left: 10px;
            margin-top: 100px;
            width: max-content;
          
            
              
              }
    }

    @media screen and (min-device-width: 600px) and (max-device-width: 1280px) { 
        .login{
            margin-left: 300px;
            margin-right: -200px;
            
              
              }
    }