.title{
   font: normal normal bold 33px/42px Georgia;
    letter-spacing: 0px;
    color: #9A7036;
    opacity: 1;
    }
    
    .property1{
    
    text-align: left;
    font: normal normal normal 14px/16px Georgia;
    letter-spacing: 0px;
    color: #9A7036;
    opacity: 1;
    }
    
    .property2{
   
        text-align: left;
        font: normal normal normal 14px/16px Georgia;
        letter-spacing: 0px;
        color: #9A7036;
        opacity: 1;
    }
    
    .property3{
     
        font: normal normal normal 14px/16px Georgia;
        letter-spacing: 0px;
        color: #9A7036;
        opacity: 1;
    }
    
    .form{
        margin-top: 30px;
    }
    
    .main2{
        margin-top: 50px;
    }
    
    .subtitle1{
    text-align: center;
    font: normal normal bold 28px/42px Georgia;
    letter-spacing: 0px;
    color: #9A7036;
    opacity: 1;
    margin-top: -10px;
    }
    
    .generator1{
  
    font: normal normal bold 20px/42px Georgia;
    letter-spacing: 0px;
    color: #9A7036;
    opacity: 1;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 9px;
    }
    
    .capacity{
  
    width: 53px;
    height: 16px;
    text-align: left;
    font: normal normal normal 14px/16px Georgia;
    letter-spacing: 0px;
    color: #9A7036;
    opacity: 1;
    margin-left: 10px;
    }
    
    .capacityinput{
    width: 171px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #9A7036;
    opacity: 1;
    color: #CDB89B;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #CDB89B;
        opacity: 1; /* Firefox */
      }
    
    .rate1{
   
    font: normal normal bold 28px/42px Georgia;
    letter-spacing: 0px;
    color: #9A7036;
    opacity: 1;
    }
    
    .ratematrix{
        margin-right: 10px;
    width: 28px;
    height: 16px;
    text-align: left;
    font: normal normal normal 14px/16px Georgia;
    letter-spacing: 0px;
    color: #9A7036;
    opacity: 1;
    }
    
    .rateinput{
        margin-right: 20px;
    width: 220px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #9A7036;
    opacity: 1;
    }
    
    .weather1{
    font: normal normal bold 28px/42px Georgia;
    letter-spacing: 0px;
    color: #9A7036;
    opacity: 1;
    }
    
    .flex-container {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        padding-left: 22px;
      }
    
    .flex-container > div {
      margin-left: 10px;
      }
    
    .png{
       
        font: normal normal bold 28px/42px Georgia;
        letter-spacing: 0px;
        color: #9A7036;
        opacity: 1;
      }
    
    .wc{
  
    font: normal normal bold 28px/42px Georgia;
    letter-spacing: 0px;
    color: #9A7036;
    opacity: 1;
    }
    
    .sg{
 
    font: normal normal bold 28px/42px Georgia;
    letter-spacing: 0px;
    color: #9A7036;
    opacity: 1;
    }
    
    .kc{

    font: normal normal bold 28px/42px Georgia;
    letter-spacing: 0px;
    color: #9A7036;
    opacity: 1;
    }
    
    .consumption{
  
    font: normal normal normal 14px/16px Georgia;
    letter-spacing: 0px;
    color: #9A7036;
    opacity: 1;
    }
    
    .consumptioninput{
    width: 200px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #9A7036;
    opacity: 1;
    }
    
    
    .Button{
    width: 200px;
    height: 40px;
    color: white;
    border: none;
    background: #F1844D 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    }

    .containermain{
        padding-top: 20px;
        margin-left: 90px;
        display: flex;
        flex-direction: column;
        width: 1000px;
        height: auto;
      
        background-color: white;
    }
    .selectiondiv{
        display: flex;
        justify-content: center;
    }
    .heading{
        display: flex;
        justify-content: center;
        margin-top: -14px;
        margin-bottom: -15px;
    }
    .generator{
        display: flex;
     
        margin-left: 2.5rem;
        justify-content: flex-start;
    }
    .lastdivheading{
        font-size: x-large;
        margin-bottom: 23px;
    font: normal normal bold  Georgia;
    letter-spacing: 0px;
    color: #9A7036;
    opacity: 1;
    }
    .submitbtn{
        display: flex;
        justify-content: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .margindiv{
        margin-left: 20px;
    }
    .logoimg1{
        margin-left: 90px;
        display: flex;
        justify-content: center;
      
   
  }
  .mainContainer{
    display: flex;
    flex-direction: column;
  }